*{
    padding: 0px;
    margin: 0px;
}



div.pai{
    display: flex;
    margin: auto;
    width: 100%;
    height: 0vh;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

#fora{
    display: flex;
    align-items: center;
    background-color: #01B289;
    width: 50px;
    height: 30px;
    border-radius: 500px;
    padding: 4px;
    cursor: pointer;
    transition: background 0.5s ease;

    cursor: pointer;
    user-select: none;
    


   
    
    
}
#fora.ativo{
    display: flex;
    align-items: center;

    transition: transform 1s ease;
    transition: background 0.5s ease;
    user-select: none;
    cursor: pointer;
    
  
     
}

#dentro {
    

    
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.61);
    background-color: rgb(255, 255, 255);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    transform: translateX(-2px);
    transition: transform 0.5s ease;
    display: inline-block;
    cursor: pointer;
}

#dentro.ativo{
    transform: translateX(18px);
    transition: transform 0.5s ease;
    cursor: pointer;
    
    

}
